# objects
obj/
*.o

# binaries
bin/
NTag

# trained weights
weights/new/

# library
lib/
include/

# build
docs/doxygen/build/
docs/sphinx/build

# root-related
*.root*
*.C
src/DataModel/NTagDataModelDict.cc

# output
*.log
*.out

# git_info
src/git_info.c