# objects
obj/
*.o

# binaries
bin/
tool

# trained weights
weights/new/

# library
lib/

# build
docs/doxygen/build/
docs/sphinx/build

# root-related
*.root*
*.C

# output
*.log
*.out
src/NTagDict.cc
src/NTagDict.h